{% extends 'base.html' %}



{% block content %}
    {# header #}

    <section class="hero is-light is-bold ">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add New Item
                </h1>
            </div>
        </div>
    </section>
    {#below are the forms#}
    <div class="section">
        <div class="container">
            {#        will only show if user is logged in #}
            {% if logged_in %}
                <form method="POST">
                    <div class="field">
                        <div class="control">
                            <div class="select ">
                                <label for="category-selector" class="label">Category</label>
                                <select name="category_name" id="category-selector">
                                    {#                        below will loop through each cateogry#}
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="field">
                        <div class="control">
                            <label for="name" class="label">Item Name</label>
                            <input class="input" name="name" type=text" placeholder="Item Name">
                        </div>
                    </div>
                    <br>
                    <div class="field">
                        <div class="control">
                            <label for="description" class="label">Description</label>
                            <textarea name="description" class="textarea" placeholder="10 lines of textarea" rows="10"></textarea>
                        </div>
                    </div>
                <button class="button is-primary " value="Create"> Add Item</button>
                </form>

                </div>
                </div>

                {% else %}
                <p class="title is-warning notification">
                    In order to add new item please be logged in!!
                </p>
            {% endif %}
{% endblock %}