<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalogs- Udacity Project</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <script defer async src="//apis.google.com/js/platform.js?onload=start"></script>
</head>

<body>

</body>

</html>