{% extends 'base.html' %}

{% block content %}
    <section class="hero is-light is-bold ">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                     {{ category.name }}
                </h1>
            </div>
        </div>

    </section>
<section>
<div class="container">
        <div class="columns" >
            <div class="column">
               <h1 class="title"><span class="has-text-primary"> Edit Category Name: </span> {{ category.name }}</h1>

               <form name="new-category" method="POST">
                   <div class="field">
                             <div class="control">
                                <input class="input" type="text" name="name">
                            </div>
                   </div>


                    <button type="submit"  class="button is-primary"><i class="fas fa-save"></i>Submit</button>
                  <a href="{{ url_for('index') }}" class="button is-danger"><i class="fas fa-arrow-circle-left"></i> Cancel </a>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}