{% extends 'base.html' %}



{% block title %}Update Item{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns" style="margin-top: 35px;">
            <div class="column">
               <h1 class="title has-text-black">Update Item {{ item.name }}</h1>

               <form method="POST">
                    <div class="control">
                      <label class="label">Title</label>
                      <input name="name" type="text" class="input" value="{{ item.name }}" required>
                    </div>
                    <div class="form-group">
                      <label for="label">Category</label>
                      <select name="category" class="select"  required>
                        {% for category in categories %}
                          <option value="{{ category.id }}" {% if item.category_id == category.id %} selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="control">
                      <label  class="label">Description</label>
                      <textarea name="description" class="textarea"  rows="5" required>{{item.description}}</textarea>
                    </div>

                    <button type="submit" class="button is-success"><i class="fas fa-save text-and-icon"></i>Update</button>
                    <a href="{{ url_for('index') }}"><button type="button" class="button is-danger"><i class="fas fa-arrow-circle-left"></i>Cancel</button></a>
                  </form>

            </div>
        </div>
    </div>
{% endblock %}