{% if logged_in %}
<div class="section">
{% if currentCategory %}
    <a href="{{ url_for('add_item', default_category=current_category) }}" class="button has-background-success">Add Item</a>
    {% else %}
    <a href="{{url_for('add_item')}}" class="button has-background-success">Add Item</a>
{% endif %}
</div>
{% endif %}

<ul class="panel">
{% for item in items %}
    <li>
         <a href="{{url_for('item_Details', category_name=item.category_name, item_name=item.name)}}">{{item.name}}</a>
        <span >({{ item.category_name }})</span>
    </li>
{% endfor %}
</ul>