{% extends 'base.html' %}
{% block content %}
<!---->
<article class="card  is-child " id="description">
        <p class="title">{{item.name}}</p>
        <p class="subtitle has-text-justified">Description:</p>
        <div class="content has-text-justified">
            {{item.description}}

           {% if 'username' in session %}

               <p class="buttons">
                              <a class="button is-info" href="{{ url_for('edit_item', item_id=item.id)}}">
                                    <span class="icon">
                                       <i class="fas fa-edit"></i>
                                    </span>
                                  <span>Edit</span>
                                 </a>
                                <a class="button is-danger" href="{{ url_for('delete_item', item_id=item.id)}}">
                                    <span class="icon">
                                       <i class="fas fa-trash-alt"></i>
                                    </span>
                                  <span>Delete</span>
                                 </a>
                       </p>
            {% endif %}
        </div>

</article>
{# testing description #}
{% endblock %}